/* --------------GENERAL-------------- */

* {
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-weight: 300;
	list-style: none;
	text-decoration: none;
	color: var(--gray-1);
	scroll-behavior: smooth;
}

*::selection {
	color: #FFF;
	background-color: var(--gray-1);
}

body {
	background-color: #FFF;
	font-size: 1.2rem;
	line-height: 1.4em;
}

p {
	margin-bottom: 1.6em;
	display: block;
}

:root {
	--primary-color: #007BFF;
	--secondary-color: #00B2FF;
	--white-1: #FFF;
	--white-2: #F9F9F9;
	--gray-1: #595959;
	--gray-2: #191919;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
	font-family: Poppins;
	src: url('./assets/fonts/Poppins.ttf') format('truetype');
}
	@font-face {
		font-family: Poppins-SemiBold;
		src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
	}

@font-face {
	font-family: Raleway;
	src: url('./assets/fonts/Raleway.ttf') format('truetype');
}

@font-face {
	font-family: SourceCodePro;
	src: url('./assets/fonts/SourceCodePro.ttf') format('truetype');
}
/* Fonts */

::-webkit-scrollbar {
	width: 18px;
}

::-webkit-scrollbar-track {
	height: 100%;
	width: 18px;
	background: var(--gray-2);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #007BFF 3%, #00B2FF 97%);
	border: 5px solid var(--gray-2);
	border-radius: 8px;
}
/* --------------GENERAL-------------- */

/* --------------FOOTER-------------- */
.footer {
	margin-top: 400px;
	display: inline-block;
	background-color: var(--gray-2);
	color: var(--white-1);
	height: 200px;
	width: 100%;
	text-align: center;
	text-decoration: none;
}

.button {
	margin-top: 50px;
	background-color: var(--primary-color);
	display: inline-block;
	color: var(--white-1);
	font-size: 15px;
	font-family: Raleway, sans-serif;
	padding: 8px 16px;
	border-radius: 24px;
}

	.button font {
		color: var(--white-1);
	}

	.button:hover {
		background-color: var(--secondary-color);
		transition: background .8s;
	}

	.button i {
		color: var(--white-1);
	}

.section-footer-1 i {
	margin: 15px 0;
	font-size: 24px;
	display: block;
	color: var(--white-1);
	text-decoration: none;
	text-align: center;
}
	.section-footer-1 i:hover {
		color: var(--secondary-color);
		transition: color .8s;
	}

#madeby, #madeby font font {
	color: var(--white-1);
	display: inline-block;
	text-align: center;
	font-size: 14px;	
}

#heart {
	color: #ff4949;
	display: inline-block;
}
/* --------------FOOTER-------------- */

/* --------------HEADER-------------- */
nav {
	background-color: var(--white-1); 
	height: 60px;
	width: 100%;
	position: fixed;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	z-index: 100;
}

.logo {
	width: 60px;
	height: 60px;
	object-fit: cover;
	margin-left: 5em;
	position: absolute;
}

nav ul {
	float: right;
	margin-right: 25px;
}

nav ul li {
	display: inline-block;
	margin: 15px 15px;
}

#home-btn, #home-btn font font, #cv-btn, #cv-btn font font {
	color: var(--gray-2);
	font-size: 14px;
	font-family: Poppins-SemiBold, sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
	padding: 7px 13px;
	border-radius: 8px;
}

.checkbtn {
	color: var(--gray-2);
	float: right;
	margin-right: 16px;
	margin-top: 10px;
	cursor: pointer;
	display: none;
}

.checkbtn span {
	font-size: 40px;
}

#check {
	display: none;
}

#home-btn:hover, #home-btn font font:hover, #cv-btn:hover, #cv-btn font font:hover {
	color: var(--white-1);
	background-color: var(--gray-2);
}

#contact-btn-2 {
	border: 1px solid var(--gray-2);
	border-radius: 8px;
	margin: 0;
	padding: 2px;
}

	#contact-btn-2:hover {
		border: 1px solid var(--primary-color);
	}

#contact-btn, #contact-btn font font {
	color: var(--gray-2);
	font-size: 14px;
	font-family: Poppins-SemiBold, sans-serif;
	padding: 8px 11px;
	border-radius: 8px;
}

	#contact-btn:hover, #contact-btn font font:hover {
	color: var(--primary-color);
	}

@media (max-width: 952px) {
	.logo {
		width: 60px;
		height: 60px;
		padding-left: 0px;
		margin-left: 0px;
		align-items: center;
		object-fit: scale-down;
		position: absolute;
	}
}

@media (max-width: 858px) {
	.checkbtn {
		display: block;
		padding-right: 3px;
	}

	ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background-color: var(--white-2);
		top: 60px;
		left: -100%;
		text-align: center;
		transition: all .8s;
	}

	nav ul li {
		display: block;
		margin: 55px 3px;
		line-height: 30px;
	}

	#home-btn, #home-btn font font, #cv-btn, #cv-btn font font {
		font-size: 20px;
	}

	#check:checked ~ ul {
		left: 0;
	}

	#contact-btn, #contact-btn font font {
		font-size: 20px;
	}

	#contact-btn-2 {
		border: none;
	}
		#contact-btn-2:hover {
			border: none;
		}

	#contact-btn:hover, #contact-btn font font:hover{
		background-color: var(--primary-color);
		color: var(--white-1);
	}
}
/* --------------HEADER-------------- */

/* --------------HOME-------------- */

.introduction {
	margin: 0;
	padding-top: 250px;
	background-image: url(./assets/images/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.main {
	display: grid;
	place-content: center;
	text-align: center;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
}
#hello, #hello font font{
	color: var(--white-1);
	font-family: SourceCodePro, monospace;
	cursor: text;
}

.main span {
	font-family: SourceCodePro, monospace;
	background: linear-gradient(to left, var(--primary-color),var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #0000;
}

.line {
	position: relative;
	margin: 0 auto;
	width: 24em;
	line-height: 70px;
	font-size: clamp(1.3rem, 3vw, 4.5rem);
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
	.anim-typewriter {
		animation:
		 typewriter 4s steps(25) 1s 1 normal both;
	}

	@keyframes typewriter {
		from {
			width: 0;
		}
		to { 
			width: 15em;
		}
	}

.services {
	display: block;
	margin: 2px 5em;
	margin-top: 300px;
}

.services h2, .services h2 font {
	font-family: Poppins-SemiBold, sans-serif;
	color: var(--gray-2);
	font-size: 34px;
}

#services-p, #services-p font font{
	margin: 20px 2px 50px 2px;
	font-family: Raleway, sans-serif;
	font-size: 24px;
}

.whatido-section {
	display: flex;
	flex-wrap: wrap;
}

.whatido{
	flex: 1;
	height: fit-content;
	min-width: 380px;
	text-align: center;
	margin: 10px;
	padding: 12px 8px;
	background-color: var(--white-1);
	border-radius: 8px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.whatido span {
	font-size: 90px;
	color: var(--primary-color);
}

.whatido p:nth-child(2) {
	font-family: Poppins-SemiBold, sans-serif;
	font-size: 25px;
	margin: 10px 0 14px 0;
	color: var(--gray-2);
}

.whatido p:nth-child(3) {
	font-size: 18px;
	font-family: Roboto, sans-serif;
	color: var(--gray-1);
}

.skills {
	margin: 2px 5em;
}

.skills-title h2, .skills-title h2 font {
	font-family: Poppins-SemiBold, sans-serif;
	color: var(--gray-2);
	margin: 120px 0 0 0;
	font-size: 34px;
}

.skills-title p, .skills-title p font {
	font-family: Raleway, sans-serif;
	margin: 20px 2px 50px 2px;
	font-size: 24px;
}

.skill-section h3, .skill-section h3 font {
	font-size: 26px;
	font-family: Poppins-SemiBold, sans-serif;
	color: var(--primary-color);
	margin: 25px 0px;
}

.skill i, .skill i font, .skill span, .skill span font {
	color: var(--secondary-color);
	padding-bottom: 5px;
	font-size: 32px;
	vertical-align: middle;
}

.skill p, .skill p font {
	font-size: 20px;
	margin-bottom: 0px;
	margin: 10px 0px;
}

.projects {
	margin: 2px 5em;
}

.projects-title h2, .projects-title h2 font {
	font-family: Poppins-SemiBold, sans-serif;
	color: var(--gray-2);
	margin: 120px 0 0 0;
	font-size: 34px;
}

.projects-title p, .projects-title p font {
	font-family: Raleway, sans-serif;
	margin: 20px 2px 50px 2px;
	font-size: 24px;
}

.projects-section {
	display: flex;
	flex-wrap: wrap;
}

.project {
	flex: 1;
	text-align: center;
	margin: 10px;
	min-width: 380px;
	height: fit-content;
	padding: 12px 8px;
	background-color: var(--white-1);
	border-radius: 8px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.project img {
	height: 8rem;
}

.project h3 {
	font-family: Poppins-SemiBold, sans-serif;
	color: var(--gray-2);
	font-size: 20px;
}

.project p, .project p font {
	font-size: 18px;
}

.project a, .project a font {
	font-family: Poppins-SemiBold, sans-serif;
	color: var(--white-1);
	background-color: var(--primary-color);
	border-radius: 8px;
	padding: 4px 10px;
	font-size: 16px;
}

	.project a:hover, .project a font:hover {
		background-color: var(--secondary-color);
		transition: background .8s;
	}


@media (max-width: 858px) {

	.introduction {
		width: 100%;
		background-image: url(./assets/images/background-1.jpg);
	}

	.line {
		width: 100%;
		font-size: clamp(1.1rem, 2.8vw, 3.8rem);
	}

	.services {
		text-align: center;
		margin: 350px 0 0;
	}

	.whatido-section {
		display: block;
	}

	.whatido {
		margin: 20px 0px;
		min-width: 250px;
		border-radius: 0px;
	}

	.skills {
		margin: 2px 0px;
	}

	.skill-section {
		margin: 2px 16px;
	}

	.skills-title h2 {
		text-align: center;
		margin: 180px 0 0 0;
	}

	.skills-title p {
		text-align: center;
		margin: 40px 16px;
	}

	.projects-section {
		display: block;
	}

	.projects {
		margin: 2px 0px;
	}

	.projects-title h2 {
		text-align: center;
		margin: 120px 0 0 0;
	}

	.projects-title p {
		margin: 40px 0px;
		text-align: center;
	}

	.project {
		min-width: 100%;
		margin: 20px 0px;
		border-radius: 0px;
	}

	.project p {
		margin: 14px 0 10px 0;
	}

}
/* --------------HOME-------------- */

/* --------------CONTACT-------------- */

.contact-me-div {
	background-color: var(--gray-2);
	height: 220px;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	z-index: 2;
	display: inline-block;
}

#contact-me-h1 {
	font-family: Poppins-SemiBold;
	font-size: clamp(24px, 48px, 2em);
	color: var(--white-1);
	text-align: center;
	margin-top: 128px;
	width: 100%;
	display: inline-block;
	z-index: 3;
}

#contact-me-h1 font font {
	font-family: Poppins-SemiBold;
	font-size: clamp(24px, 48px, 2em);
	color: var(--white-1);
	text-align: center;
	margin-top: -15px;
	width: 100%;
	display: inline-block;
	z-index: 4;
}

.contact-section {
	display: flex;
	flex-wrap: wrap;
}

.contact-box {
	flex: 1;
	margin: 100px 25px;
	padding: 30px;
	text-align: center;
	min-width: 310px;
	height: clamp(190px, 210px, 16rem);
	background-color: var(--white-1);
	border-radius: 8px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.contact-box i {
	color: var(--primary-color);
	font-size: 50px;
}

.contact-box h3 {
	font-family: Poppins-SemiBold, sans-serif;
	color: var(--gray-2);
	font-size: 18px;
	padding: 18px 0;
}

#mail, #mail font font {
	font-family: Poppins-SemiBold, sans-serif;
	color: var(--gray-2);
	font-size: 18px;
	padding: 18px 0;
}

.contact-box a:hover, .contact-box a font font:hover, .contact-box p:hover, .contact-box p font font:hover {
	color: var(--primary-color);
	transition: color .8s;
}

@media (max-width: 1060px) {
	.contact-box {
		margin: 80px 0px;
		min-width: 100%;
	}
}

/* --------------CONTACT-------------- */